.banner {
  background-image: url("./src/assets/banner.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100vw;
  display: flex;
}

.edu {
  /* background-image: url("./src/assets/sections-img/sec-1.png");
  background-size: contain;
  background-position: left;
  background-repeat: no-repeat; */
  /* display: flex; */
}

.gallary {
  background-image: url("./src/assets/sections-img/sec-1.png");
}
